token = ??
owner_id = ??
enable_webapp_server = True
webserver_debug = False
report_errors_owner = True
secret_key = ??
sentry_dsn = ??
webhook_mode = True
webhook_listen_address = 127.0.0.1
webhook_port = 443
webhook_url_path = ??
webhook_url_base = ??
webhook_ssl_cert_path = ??
webhook_ssl_key_path = ??
webhook_secret_token = ??
APP_HOST = localhost
APP_PORT = 5000